.hr
  height 1
  background-color gray
.item
  flex-direction row
  align-items center
  justify-content space-between
  margin-bottom 5
  margin-top 5
.text
  padding-top 2
  padding-bottom 2
  flex 1
  font-size 18
.btn
  margin-left 5
