.container
  flex 1
  justify-content center
  align-items center
  background-color #F5FCFF
  padding 10
  padding-top 20
.list
  width 100%
.input
  height 40
  padding-right 10
  padding-left 10
  border-color gray
  border-width 1
  width 100%
